@media (max-width: 480px){
	.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: #FFF;

	.container{
		box-sizing: border-box;
		display: flex;
		flex-flow: row;
		height: 75px;

		.logo{
			width: 128px;
			height: 44px;
			margin: 14px 0px 0px 89px;

			img{
				max-width: 100%;
				max-height: 100%;
			}
		}

		.title{
			margin-top: 35px;
			font-size: 1.6rem;
		}

		.form-btn{
			text-align: center;
			height: 45px;
			margin: 15px 90px 0px auto;
			padding: 0px 40px;
			border-radius: 22px;
			line-height: 45px;
			cursor: pointer;
			opacity: 0.8;
			background-color: #D84940;

			&:hover{
				opacity: 1;
			}

			a{
				color: #FFF;
				font-size: 1.4rem;
				font-weight: 300;
			}			
		}
	}
}
}